body{
	background: #fff;
}
.jd_topBar{
	position: static;
}
/*安全提示*/
.jd_safeTip{
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: 13px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;

	
}
.jd_safeTip p{
	padding-left: 25px;
	width: 240px;
	display: inline-block;
	position: relative;
	
}.jd_safeTip p::before{
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background:url(../img/safe_icon.png) no-repeat;
	background-size: 18px 18px;
	position: absolute;
	top: 8px;
	left: 0;
}
/*公用的复选框*/
.jd_check_box{
	height: 20px;
	width: 20px;
	display: block;
	background: url(../img/shop-icon.png);
	background-size: 50px 100px;
	background-position: 0 0;
}
.jd_check_box[checked]{
	background-position: -25px 0;
}
/*店铺的title,上面的部分*/
.jd_shop{
	margin-top: 10px;
	background: #fff;
}
.jd_shop .jd_shop_tit{
	height: 36px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.jd_shop .jd_shop_tit .tit_check{
	width: 40px;
	height: 35px;
	position: absolute;
	
}
.jd_shop .jd_shop_tit .tit_check .jd_check_box{
	position: absolute;
	top: 7px;
	left: 10px;
}

.jd_shop .jd_shop_tit .tit_name{
	padding-left: 40px;
}
.jd_shop .jd_shop_tit .tit_name .imgLogo{
	width: 15px;
	height: 13px;
	display: block;
	float: left;
	margin-top: 10px;
}
.jd_shop .jd_shop_tit .tit_name .name{
	float: left;
	font-size: 13px;
	margin-top: 8px;
	margin-left: 4px;
	
}
.jd_shop .jd_shop_tit .tit_name .tip{
	float: right;
	color: red;
	margin-right: 10px;
	margin-top: 8px;
}
/*商品*/
.jd_shop .jd_shop_con{
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	
}
.jd_shop .jd_shop_con .con_check{
	position: absolute;
	width: 40px;
	top: 0;
	left: 0;
}
.jd_shop .jd_shop_con .con_check .jd_check_box{
	top: 20px;
	left: 10px;
	position: absolute;
	
}

.jd_shop .jd_shop_con .con_product{
	margin-top: 10px;
	padding-left: 40px;
	padding-right: 10px;
}
.jd_shop .jd_shop_con .con_product .con_product_img{
	float: left;
	width: 80px;
	height: 80px;
	display: block;
	margin-right: 10px;
	position: absolute;
}
.jd_shop .jd_shop_con .con_product .con_product_img img{
	width:100%;
	height: 100%;
	display: block;
}
.jd_shop .jd_shop_con .con_product .con_product_box{
	padding-left: 90px;
}
.jd_shop .jd_shop_con .con_product .con_product_box .name{
	height: 30px;
	line-height: 15px;
	font-size: 13px;
	overflow: hidden;
	display: block;
}
.jd_shop .jd_shop_con .con_product .con_product_box .price{
  margin-top: 5px;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box_left{
	height: 24px;
	width: 32px;
	border: 1px solid #e0e0e0;
	border-top-left-radius: 2px;
	text-align: center;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box_right{
	height: 24px;
	width: 32px;
	border: 1px solid #e0e0e0;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	display: block;
	float: left;
	text-align: center;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option input{
	height: 24px;
	width: 32px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	float: left;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box{
	float: right;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option{
	width: 100%;
	height: 24px;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_top{
	width: 20px;
	height: 5px;
	background: url(../img/delete_up.png);
	background-size: 20px 5px;
	margin-left: -1px;
}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_bot{
	width: 18px;
	height: 18px;
	background: url(../img/delete_down.png);
	background-size: 18px 18px;
	margin-bottom: 1px;
}
/*结算部分*/
.jd_amount{
   position: fixed;
   left: 0;
   bottom: 0;
   height: 62px;
   background: rgba(0,0,0,0.4);
   width: 100%;
}
.jd_amount .amount_check{
	position: absolute;
	width: 80px;
	line-height: 62px;
	
}
.jd_amount .amount_check .jd_check_box{
	top: 20px;
	position: absolute;
	left: 10px;
}
.jd_amount .amount_check span{
	padding-left: 35px;
	color: #fff;
}
.jd_amount .amount_info{
	padding-left: 80px;
	padding-right: 120px;
	height: 62px;
	color: #fff;
}

.jd_amount .amount_info .sum{
	font-size: 16px;
	margin-top: 5px;
	
}
.jd_amount .amount_info .other{
	font-size: 10px;
	
}
.jd_amount .amount_submit{
	height: 62px;
	width: 120px;
	padding: 0 2px;
	text-align: center;
	line-height: 62px;
	background: red;
	color: #fff;
	font-size: 16px;
	font-weight:bold ;
	position: absolute;
	top: 0;
	right: 0;
}
.jd_amount .amount_submit span{
	font-size: 12px;
	
}
/*
 *弹出框
 */
.jd_win{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 1001;
}
.jd_win .jd_win_box{
	width: 85%;
	background: #fff;
	border: solid #e0e0e0;
	border-radius: 4px;
	margin:0  auto;
	padding:0 5%;
	margin-top:40% ;
	
}
.jd_win .jd_win_box .jd_btn_box{
	font-size: 15px;
	margin: 0 auto;
	
}
.jd_win .jd_win_box .jd_win_box_text{
	line-height: 75px;
	color: #666;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #e0e0e0;
}
.jd_win .jd_win_box .jd_btn_box .cancel{
	width: 45%;
	height: 36px;
	float: left;
	margin-right: 10%;
	background: #fff;
	border: 1px solid #e0e0e0;
	color: #888;
	text-align: center;
	line-height: 36px;
	border-radius: 4px;
	
}
.jd_win .jd_win_box .jd_btn_box .submit{
	width: 45%;
	height: 36px;
	float: left;
	background: #d8505c;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	line-height: 36px;
}
/*写一个动画  让删除对话跳出来*/
@-webkit-keyframes  jumpOut{
	0%{
		opacity: 0; /*透明度*/
		transform: translateY(-2000px);
		-webkit-transform : translateY(-2000px);
	}
	60%{
		opacity: 1;
		transform: translateY(30px);
		-webkit- transform: translateY(30px);
		
		
	}
	75%{
		transform: translateY(-10px);
		-webkit- transform: translateY(-10px);
		
		
	}
	90%{
		transform: translateY(5px);
		-webkit- transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform:none;
		-webkit- transform: none;
	}
}
.jumpOut{
	animation: jumpOut 1s ease;
}
